<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitbit Dashboard</title>
</head>
<body>
    <h1>Fitbit Dashboard</h1>
    
    {% if data %}

        <!-- Print raw data in json with nicely formatted indentation -->
        <h2>Raw Data</h2>
        <pre>{{ data | tojson(indent=4) }}</pre>
        
        <h2>User Profile</h2>
        <!-- get user fullname, if doesnt exist, return empty string -->
        <p><strong>Name:</strong> {{ data['user']['fullName'] | default('') }}</p>
        <p><strong>Gender:</strong> {{ data['user']['gender'] | default('') }}</p>
        <p><strong>Age:</strong> {{ data['user']['age'] | default('') }}</p>
        <p><strong>Height:</strong> {{ data['user']['height'] | default('') }} cm</p>
        <p><strong>Weight:</strong> {{ data['user']['weight'] | default('') }} kg</p>
        
        <!-- Add more data as needed -->
    {% else %}
        <p>No data available. Please try reconnecting your Fitbit account.</p>
    {% endif %}
    
    <a href="{{ url_for('index') }}">
        <button>Back to Home</button>
    </a>
    <a href="{{ url_for('signout') }}">
        <button>Sign Out</button>
    </a>

</body>
</html>
